@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url("./assets/images/mobile_gradient_background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.transition-max-height {
	transition: max-height 0.7s ease-in-out;
}

@media (min-width: 1024px) { 
    body {
        background-image: url("./assets/svgs/full_page_gradient.svg");
    }
}